
.custom-bg {
  background-image: url("/backgroundpicture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  /* height: 100vh; */
  height: calc(100dvh - 28px);
}
